.books-container {
  padding: var(--space-8);
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: var(--space-6) var(--space-3);
  justify-content: center;
}
.book-card {
  background-color: var(--clr-cards);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-lg);
  padding: var(--space-4);
  border: 1px solid var(--clr-border);
  transition: all 0.15s ease;
}
.book-card:hover {
  transform: translateY(-3px);
  border-color: #2a3647;
}

.book-img-container {
  text-align: center;
}
.book-img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 14px;
}
.book-title {
  font-weight: var(--weight-bold);
  font-size: var(--font-base);
  margin-bottom: var(--space-2);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-author {
  font-size: var(--font-sm);
  margin-bottom: var(--space-1);

  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-date {
  font-size: var(--font-xs);
  margin-bottom: var(--space-4);
  color: var(--clr-secondary);
}
.btn {
  width: 100%;
  color: var(--clr-primary);
  font-size: var(--font-sm);
  font-weight: var(--weight-bold);
  border: none;
  padding-block: var(--space-2);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: all 0.15s ease;
}
.start-reading, .done-reading {
  background-color: var(--clr-success);

}
.remove {
  background-color: var(--clr-error);
}
.btn:hover,
.btn:focus {
  opacity: .8;
}

/* for empty library */
.empty-library {
  display: flex;
  justify-content: center;
  margin-block: var(--space-12);
}
.no-books {
  font-size: var(--font-lg);
  color: var(--clr-secondary);
}