.search-form-container {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 85%;
  max-width: 650px;
  color: var(--clr-secondary);
  font-size: var(--font-base);
  padding: var(--space-3);
  border: none;
  outline: none;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}
